<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t.uni.system.mapper.EmailUsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="t.uni.domain.system.entity.EmailUsers">
        <id column="id" property="id"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
        <id column="create_user" property="createUser"/>
        <id column="update_user" property="updateUser"/>
        <id column="is_deleted" property="isDeleted"/>
        <id column="email" property="email"/>
        <id column="password" property="password"/>
        <id column="host" property="host"/>
        <id column="port" property="port"/>
        <id column="smtp_agreement" property="smtpAgreement"/>
        <id column="open_ssl" property="openSSL"/>
        <id column="is_default" property="isDefault"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, create_user, update_user, is_deleted, email, password, host, port, smtp_agreement,
        is_default, openSSL
    </sql>

    <!-- 分页查询邮箱用户发送配置内容 -->
    <select id="selectListByPage" resultType="t.uni.domain.system.vo.EmailUsersVo">
        select
        email_user.*,
        create_user.username as create_username,
        update_user.username as update_username
        from sys_email_users email_user
        left join sys_user create_user on create_user.id = email_user.create_user
        left join sys_user update_user on update_user.id = email_user.update_user
        <where>
            email_user.is_deleted = 0
            <if test="dto.email != null and dto.email != ''">
                and email_user.email like CONCAT('%',#{dto.email},'%')
            </if>
            <if test="dto.host != null and dto.host != ''">
                and email_user.host like CONCAT('%',#{dto.host},'%')
            </if>
            <if test="dto.port != null and dto.port != ''">
                and email_user.port like CONCAT('%',#{dto.port},'%')
            </if>
            <if test="dto.smtpAgreement != null and dto.smtpAgreement != ''">
                and email_user.smtp_agreement like CONCAT('%',#{dto.smtpAgreement},'%')
            </if>
            <if test="dto.openSSL != null">
                and email_user.open_ssl = #{dto.openSSL}
            </if>
        </where>
    </select>

</mapper>
