<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t.uni.system.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="t.uni.domain.system.entity.RolePermission">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="power_id" property="powerId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, power_id, create_time, update_time, create_user, update_user, is_deleted
    </sql>

    <!-- 根据权限id列表删除角色权限相关 -->
    <delete id="deleteBatchPowerIds">
        delete
        from sys_role_permission
        where power_id in
        <foreach collection="permissionIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 根据角色id删除角色权限 -->
    <delete id="deleteBatchRoleIds">
        delete
        from sys_role_permission
        where role_id in
        <foreach collection="roleIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 根据角色id获取权限内容 -->
    <select id="selectRolePermissionListByRoleId"
            resultType="t.uni.domain.system.entity.RolePermission">
        select *
        from sys_role_permission
        where role_id = #{roleId}
    </select>

    <!-- 查看所有角色关联的权限 -->
    <select id="viewRolePowerWithAll" resultType="t.uni.domain.system.views.ViewRolePermission">
        SELECT rp.power_id,
               permission.parent_id,
               permission.power_code,
               permission.power_name,
               permission.request_url,
               rp.role_id,
               role.role_code,
               role.description
        FROM sys_role_permission rp
                 LEFT JOIN sys_role role ON rp.role_id = role.id
                 LEFT JOIN sys_permission permission ON rp.power_id = permission.id
    </select>

    <!-- 根据权限id列表查询角色和权限 -->
    <select id="selectRolePermissionListByPermissionIds"
            resultType="t.uni.domain.system.entity.RolePermission">
        SELECT * FROM
        sys_role_permission WHERE power_id IN
        <foreach collection="permissionIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

</mapper>
