<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t.uni.system.mapper.UserDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="t.uni.domain.system.entity.UserDept">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, dept_id, create_time, update_time, create_user, update_user, is_deleted
    </sql>

    <!-- 根据部门id删除部门用户 -->
    <delete id="deleteBatchIdsByDeptIds">
        delete
        from sys_user_dept
        where dept_id in
        <foreach collection="deptIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 根据用户id删除用户部门 -->
    <delete id="deleteBatchIdsByUserIds">
        delete
        from sys_user_dept
        where user_id in
        <foreach collection="userIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>
