<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t.uni.configuration.mapper.I18nMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="t.uni.domain.configuration.entity.I18n">
        <id column="id" property="id"/>
        <result column="key_name" property="keyName"/>
        <result column="translation" property="translation"/>
        <result column="type_name" property="typeName"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, key_name, translation, type_name, create_user, update_user, update_time, create_time, is_deleted
    </sql>

    <!-- 分页查询多语言内容 -->
    <select id="selectListByPage" resultType="t.uni.domain.configuration.vo.I18nVo">
        select
        i18n.*,
        create_user.username as create_username,
        update_user.username as update_username
        from sys_i18n i18n
        left join sys_user create_user on create_user.id = i18n.create_user
        left join sys_user update_user on update_user.id = i18n.update_user
        <where>
            i18n.is_deleted = 0
            <if test="dto.keyName != null and dto.keyName != ''">
                and i18n.key_name like CONCAT('%',#{dto.keyName},'%')
            </if>
            <if test="dto.translation != null and dto.translation != ''">
                and i18n.translation like CONCAT('%',#{dto.translation},'%')
            </if>
            <if test="dto.typeName != null and dto.typeName != ''">
                and i18n.type_name like CONCAT('%',#{dto.typeName},'%')
            </if>
        </where>
    </select>

</mapper>
