<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="t.uni.configuration.mapper.MenuIconMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="t.uni.domain.configuration.entity.MenuIcon">
        <id column="id" property="id"/>
        <id column="create_time" property="createTime"/>
        <id column="update_time" property="updateTime"/>
        <id column="create_user" property="createUser"/>
        <id column="update_user" property="updateUser"/>
        <id column="is_deleted" property="isDeleted"/>
        <id column="icon_name" property="iconName"/>
        <id column="icon_code" property="iconCode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, create_user, update_user, is_deleted, icon_name, icon_code
    </sql>

    <!-- 分页查询系统菜单图标内容 -->
    <select id="selectListByPage" resultType="t.uni.domain.configuration.vo.MenuIconVo">
        select
        icon.*,
        create_user.username as create_username,
        update_user.username as update_username
        from sys_menu_icon icon
        left join sys_user create_user on create_user.id = icon.create_user
        left join sys_user update_user on update_user.id = icon.update_user
        <where>
            icon.is_deleted = 0
            <if test="dto.iconCode != null and dto.iconCode != ''">
                and icon.icon_code like CONCAT('%',#{dto.iconCode},'%')
            </if>
            <if test="dto.iconName != null and dto.iconName != ''">
                and icon.icon_name like CONCAT('%',#{dto.iconName},'%')
            </if>
        </where>
        order by update_time desc
    </select>

</mapper>
