DISPLAY_NAME=wxy-server
REPO_SLUG=wxy-server
GROUP_ID=com.wxy
ROOT_PACKAGE=com.wxy
CONFIG_PREFIX=wxy
ENV_PREFIX=WXY
SERVER_DB_NAME=wxy
ADMIN_DB_NAME=wxy_admin
COMMON_MODULE=wxy-common
SERVER_MODULE=wxy-server
ADMIN_MODULE=wxy-admin
RENAME_ADMIN=true
